body {
    background-color: #000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#game-container {
    border: 3px solid #fff;
    box-shadow: 0 0 15px #444;
}